#items{
    display: flex;
    padding: 1em;
    margin: 2em 3em;
    justify-content: space-around;
    text-decoration: none !important;
    align-items: center;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0 0 20px 1px #00005f;
}

#items:hover{
    cursor: pointer;
}
.name-item, .symbol-item, .price-item{
    color: black;
    font-size: 22px;
}
.image-item{
    border: 1px solid transparent;
    border-radius: 40px;
}
.rank-item{
    color: #00005f;
}

@media screen and (max-width: 768px){
    #items{
        display: block;
        text-align: center;
    }
    .name-item, .symbol-item, .price-item{
        font-size: 18px;
    }
}