.textProvider{
    text-align: start;
    font-size: 20px;
    color: #00005F;
    font-weight: bold;
}

.button-connect{
    border: 1px solid #00005f;
    background-color: #00005f;
    color: white;
    padding: 1em;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
}
.button-connect:hover{
    cursor: pointer;
}
.info-connection{
    font-size: 15px;
    color: black;
    text-align: start;
}