#box{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    align-items: center;
    gap: 1em;
}
.box-image{
    border: 1px solid transparent;
    border-radius: 30px;
    margin: 1em;
}
.box-price, .box-price-high, .box-price-low, .box-volume{
    font-size: 16px;
}
.buttonWallet{
    border: 1px solid #00005f;
    background-color: #00005f;
    color: white;
    padding: 1em;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
}
.buttonWallet:hover{
    cursor: pointer;
}
@media screen and (max-width: 820px){
    #box{
        display: block;
        gap: 5em;
        text-align: center;
    }
}